<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>

<section layout:fragment="contenido" class="container mt-5">

    <h1 class="text-center mb-4">Lista de Usuarios</h1>

    <a href="/usuarios/nuevo" class="btn btn-success mb-3">
        ➕ Nuevo Usuario
    </a>

    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle shadow-sm">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.usuarioId}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.apellido}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.telefono}"></td>
                <td th:text="${u.direccion}"></td>

                <td>
                    <a th:href="@{/usuarios/editar/{id}(id=${u.usuarioId})}"
                       class="btn btn-primary btn-sm">
                        Editar
                    </a>

                    <a th:href="@{/usuarios/eliminar/{id}(id=${u.usuarioId})}"
                       class="btn btn-danger btn-sm ms-2">
                        Eliminar
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</section>

</html>
